<template>
    <div class="row">
        <h1 class="m-4">Apertura Caja</h1>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card m-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="value_previous_close"
                                            >Valor Cierre Anterior</label
                                        >
                                        <input
                                            type="number"
                                            :class="'form-control'"
                                            id="value_previous_close"
                                            v-model="form.value_previous_close"
                                        />
                                        <small
                                            v-if="
                                                errores.value_previous_close !==
                                                    ''
                                            "
                                            id="value_previous_closeHelp"
                                            class="text-danger"
                                            >{{
                                                errores.value_previous_close[0]
                                            }}</small
                                        >
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="value_open"
                                            >Valor De Apertura</label
                                        >
                                        <input
                                            type="number"
                                            :class="'form-control'"
                                            id="value_open"
                                            v-model="form.value_open"
                                        />
                                        <small
                                            v-if="errores.value_open !== ''"
                                            id="value_openHelp"
                                            class="text-danger"
                                            >{{ errores.value_open[0] }}</small
                                        >
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="observation"
                                            >Observación</label
                                        >
                                        <input
                                            type="text"
                                            :class="'form-control'"
                                            id="observation"
                                            v-model="form.observation"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div
                                    class="col-lg-12 col-md-12 col-sm-12 mt-4 pt-1"
                                >
                                    <div class="form-inline">
                                        <button
                                            type="button"
                                            class="btn btn-success btn-block"
                                            @click="aperturarCaja()"
                                        >
                                            Aperturar Caja
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: {},
    data: function() {
        return {
            errores: {
                value_previous_close: "",
                value_open: ""
            },
            form: {
                value_previous_close: 0,
                value_open: 0,
                observation: ""
            }
        };
    },
    mounted: function() {},
    beforeDestroy: function() {},
    methods: {
        aperturarCaja() {
            let that = this;

            let url = "/api/v1/cashier/balance/open/day";
            let mensaje = "Caja aperturada correctamente.";

            var loader = that.$loading.show();
            axios
                .post(url, that.form)
                .then(function(response) {
                    //Llamar metodo de parent para que actualice el grid.
                    loader.hide();
                    console.log("EN EL RESPOMSNE");
                    console.log("pilass");
                    alert(mensaje);
                })
                .catch(error => {
                    //Errores de validación
                    console.log("ERRORESSSS");
                    console.log(error);
                    var errorMensaje = error;
                    if (error.response.status === 422) {
                        if (
                            error.response.data.msg !== "" &&
                            error.response.data.msg != undefined
                        ) {
                            errorMensaje = error.response.data.msg;
                        } else {
                            console.log("HOLAAAAA");
                            that.errores.value_previous_close =
                                error.response.data.errors
                                    .value_previous_close != undefined
                                    ? error.response.data.errors
                                          .value_previous_close
                                    : "";

                            that.errores.value_open =
                                error.response.data.errors.value_open !=
                                undefined
                                    ? error.response.data.errors.value_open
                                    : "";
                        }
                    }
                    loader.hide();
                    alert(errorMensaje);
                });
        }
    }
};
</script>
