<template>
    <div class="row">
        <h1 class="m-4">Cash Management</h1>

        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card m-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="float-right">
                                <button
                                    class="btn btn-primary"
                                    @click="abrirModalDAtaAperturaCaja()"
                                >
                                    Consultar apertura Caja
                                </button>
                                <button
                                    class="btn btn-secondary"
                                    @click="abrirModalMovimientos()"
                                >
                                    Ingresar Movimientos
                                </button>
                                <button
                                    class="btn btn-warning"
                                    @click="abrirModalConsultarBalance()"
                                >
                                    Consultar Balance
                                </button>
                                <button
                                    class="btn btn-success"
                                    @click="abrirModalAperturaCaja()"
                                >
                                    Aperturar Caja
                                </button>
                                <button
                                    class="btn btn-danger"
                                    @click="abrirModalCierreCaja()"
                                >
                                    Cerrar Caja
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12"></div>
                    </div>
                </div>
            </div>
        </div>
        <modal
            :width="'65%'"
            height="auto"
            :scrollable="true"
            name="dataAperturaCaja"
        >
            <data-apertura-caja></data-apertura-caja>
        </modal>
        <modal
            :width="'65%'"
            height="auto"
            :scrollable="true"
            name="aperturaCaja"
        >
            <apertura-caja></apertura-caja>
        </modal>
        <modal
            :width="'65%'"
            height="auto"
            :scrollable="true"
            name="cierreCaja"
        >
            <cierre-caja></cierre-caja>
        </modal>
        <modal
            :width="'65%'"
            height="auto"
            :scrollable="true"
            name="movimientos"
        >
            <movimientos></movimientos>
        </modal>
        <modal :width="'65%'" height="auto" :scrollable="true" name="balance">
            <data-cierre-caja></data-cierre-caja>
        </modal>
    </div>
</template>
<script>
export default {
    props: {},
    data: function() {
        return {};
    },
    mounted: function() {},
    beforeDestroy: function() {},
    methods: {
        abrirModalDAtaAperturaCaja() {
            this.$modal.show("dataAperturaCaja");
        },
        abrirModalAperturaCaja() {
            this.$modal.show("aperturaCaja");
        },
        abrirModalCierreCaja() {
            this.$modal.show("cierreCaja");
        },
        abrirModalMovimientos() {
            this.$modal.show("movimientos");
        },
        abrirModalConsultarBalance() {
            this.$modal.show("balance");
        }
    }
};
</script>
