<template>
    <div class="row">
        <h1 class="m-4">Cierre Caja</h1>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card m-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="value_cash"
                                            >Valor Efectivo</label
                                        >
                                        <input
                                            type="number"
                                            :readonly="true"
                                            :class="'form-control'"
                                            id="value_previous_close"
                                            v-model="form.value_cash"
                                        />
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="value_card"
                                            >Valor De Tarjeta</label
                                        >
                                        <input
                                            :readonly="true"
                                            type="number"
                                            :class="'form-control'"
                                            id="value_card"
                                            v-model="form.value_card"
                                        />
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="value_sales"
                                            >Valor ventas</label
                                        >
                                        <input
                                            :readonly="true"
                                            type="number"
                                            :class="'form-control'"
                                            id="value_sales"
                                            v-model="form.value_sales"
                                        />
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="value_open"
                                            >Valor Apertura</label
                                        >
                                        <input
                                            :readonly="true"
                                            type="number"
                                            :class="'form-control'"
                                            id="value_open"
                                            v-model="form.value_open"
                                        />
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="value_close"
                                            >Valor Cierre</label
                                        >
                                        <input
                                            :readonly="true"
                                            type="number"
                                            :class="'form-control'"
                                            id="value_close"
                                            v-model="form.value_close"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <h4>Adición de gastos</h4>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="name_expense"
                                            >Nombre Gasto</label
                                        >
                                        <input
                                            type="text"
                                            :class="'form-control'"
                                            id="name_expense"
                                            v-model="name_expense"
                                        />
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="value_expense"
                                            >Valor Gasto</label
                                        >
                                        <input
                                            type="number"
                                            :class="'form-control'"
                                            id="value_expense"
                                            v-model="value_expense"
                                        />
                                    </div>
                                </div>
                                <div class="form-inline">
                                    <button
                                        type="button"
                                        class="btn btn-success btn-block"
                                        @click="addExpense()"
                                    >
                                        Añadir gasto
                                    </button>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <vue-good-table
                                        :columns="columns"
                                        :rows="form.expenses"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div
                                    class="col-lg-12 col-md-12 col-sm-12 mt-4 pt-1"
                                >
                                    <div class="form-inline">
                                        <button
                                            type="button"
                                            class="btn btn-danger btn-block"
                                            @click="cerrarCaja()"
                                        >
                                            Cerrar Caja
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: {},
    data: function() {
        return {
            columns: [
                {
                    label: "Nombre",
                    field: "name",
                    type: "String"
                },
                {
                    label: "Valor",
                    field: "value",
                    type: "number"
                }
            ],

            form: {
                value_cash: 0,
                value_card: 0,
                value_sales: 0,
                value_open: 0,
                value_close: 0,
                expenses: []
            },
            value_expense: 0,
            name_expense: ""
        };
    },
    mounted: function() {
        this.cargarDatosBalanceCaja();
        this.cargarDatosAperturaCaja();
    },
    beforeDestroy: function() {},
    methods: {
        limpiarGrid() {
            this.value_expense = 0;
            this.name_expense = "";
            this.expenses = [];
            this.cargarDatosBalanceCaja();
            this.cargarDatosAperturaCaja();
        },
        cargarDatosBalanceCaja() {
            let that = this;
            let url = "/api/v1/has/open/cashier/balance";
            var loader = that.$loading.show();
            axios
                .get(url)
                .then(function(response) {
                    that.form.value_cash = response.data.results.cash;
                    that.form.value_card = response.data.results.card;
                    that.form.value_sales = response.data.results.sales;
                    that.form.value_close =
                        response.data.results.close > 0
                            ? response.data.results.close
                            : response.data.results.value;
                    loader.hide();
                })
                .catch(error => {
                    var errorMensaje = error;
                    if (error.response.status === 422) {
                        if (
                            error.response.data.msg !== "" &&
                            error.response.data.msg != undefined
                        ) {
                            errorMensaje = error.response.data.msg;
                        }
                    }
                    alert(errorMensaje);
                    loader.hide();
                });
        },
        cargarDatosAperturaCaja() {
            let that = this;
            let url = "/api/v1/cashier/balance";
            var loader = that.$loading.show();
            axios
                .get(url)
                .then(function(response) {
                    that.form.value_open = response.data.results.value_open;
                    loader.hide();
                })
                .catch(error => {
                    loader.hide();
                });
        },
        addExpense() {
            if (
                this.name_expense == null ||
                this.name_expense == "" ||
                this.name_expense == undefined
            ) {
                alert("Debe ingresar un nombre de movimiento");
                return;
            }
            if (this.value_expense == 0 || this.value_expense < 0) {
                alert("Debe Ingresar un gasto mayor a 0 ");
                return;
            }
            let expense = {
                name: this.name_expense,
                value: parseInt(this.value_expense)
            };
            this.form.expenses.push(expense);
        },
        cerrarCaja() {
            let that = this;

            let url = "/api/v1/cashier/balance/close/day";
            let mensaje = "Caja cerrada correctamente.";

            var loader = that.$loading.show();
            axios
                .post(url, that.form)
                .then(function(response) {
                    loader.hide();
                    that.limpiarGrid();
                    alert(mensaje);
                })
                .catch(error => {
                    //Errores de validación

                    var errorMensaje = error;
                    if (error.response.status === 422) {
                        if (
                            error.response.data.msg !== "" &&
                            error.response.data.msg != undefined
                        ) {
                            errorMensaje = error.response.data.msg;
                        }
                    }
                    loader.hide();
                    alert(errorMensaje);
                });
        }
    }
};
</script>
