<template>
    <div class="row">
        <h1 class="m-4">Información Balance de caja</h1>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card m-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="date_open"
                                            >Valor Actual</label
                                        >
                                        <input
                                            type="text"
                                            :readonly="true"
                                            :class="'form-control'"
                                            id="date_open"
                                            v-model="form.value"
                                        />
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="hour_open"
                                            >Valor de cierre</label
                                        >
                                        <input
                                            type="text"
                                            :readonly="true"
                                            :class="'form-control'"
                                            id="hour_open"
                                            v-model="form.close"
                                        />
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="value_previous_close"
                                            >Valor Tarjeta</label
                                        >
                                        <input
                                            type="text"
                                            :readonly="true"
                                            :class="'form-control'"
                                            id="value_previous_close"
                                            v-model="form.card"
                                        />
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="cash">Valor Efectivo</label>
                                        <input
                                            type="text"
                                            :readonly="true"
                                            :class="'form-control'"
                                            id="cash"
                                            v-model="form.cash"
                                        />
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="sales">Valor Ventas</label>
                                        <input
                                            type="text"
                                            :readonly="true"
                                            :class="'form-control'"
                                            id="sales"
                                            v-model="form.sales"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: {},
    data: function() {
        return {
            form: {
                value: "",
                close: "",
                card: ""
            }
        };
    },
    mounted: function() {
        this.cargarDatosBalanceCaja();
    },
    beforeDestroy: function() {},
    methods: {
        cargarDatosBalanceCaja() {
            let that = this;
            let url = "/api/v1/has/open/cashier/balance";
            var loader = that.$loading.show();
            axios
                .get(url)
                .then(function(response) {
                    that.form = response.data.results;
                    loader.hide();
                })
                .catch(error => {
                    //Errores
                    var errorMensaje = error;
                    if (error.response.status === 422) {
                        if (
                            error.response.data.msg !== "" &&
                            error.response.data.msg != undefined
                        ) {
                            errorMensaje = error.response.data.msg;
                        }
                    }
                    alert(errorMensaje);
                    loader.hide();
                });
        }
    }
};
</script>
