<template>
    <div class="row">
        <h1 class="m-4">Información Apertura de caja</h1>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card m-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="date_open"
                                            >Fecha de apertura</label
                                        >
                                        <input
                                            type="text"
                                            :readonly="true"
                                            :class="'form-control'"
                                            id="date_open"
                                            v-model="form.date_open"
                                        />
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="hour_open"
                                            >Hora de apertura</label
                                        >
                                        <input
                                            type="text"
                                            :readonly="true"
                                            :class="'form-control'"
                                            id="hour_open"
                                            v-model="form.hour_open"
                                        />
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="value_previous_close"
                                            >Valor antes de cierre</label
                                        >
                                        <input
                                            type="text"
                                            :readonly="true"
                                            :class="'form-control'"
                                            id="value_previous_close"
                                            v-model="form.value_previous_close"
                                        />
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="value_open"
                                            >Valor apertura</label
                                        >
                                        <input
                                            type="text"
                                            :readonly="true"
                                            :class="'form-control'"
                                            id="value_open"
                                            v-model="form.value_open"
                                        />
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="observation"
                                            >Observación</label
                                        >
                                        <input
                                            type="text"
                                            :readonly="true"
                                            :class="'form-control'"
                                            id="observation"
                                            v-model="form.observation"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: {},
    data: function() {
        return {
            form: {
                date_open: "",
                hour_open: "",
                value_previous_close: "",
                value_open: "",
                observation: ""
            }
        };
    },
    mounted: function() {
        this.cargarDatosAperturaCaja();
    },
    beforeDestroy: function() {},
    methods: {
        cargarDatosAperturaCaja() {
            let that = this;
            let url = "/api/v1/cashier/balance";
            var loader = that.$loading.show();
            axios
                .get(url)
                .then(function(response) {
                    if (response.data.results != null) {
                        that.form = response.data.results;
                    } else {
                        alert(
                            "No existe una caja aperturada, no se mostrara información."
                        );
                    }

                    loader.hide();
                })
                .catch(error => {
                    var errorMensaje = error;
                    if (error.response.status === 422) {
                        if (
                            error.response.data.msg !== "" &&
                            error.response.data.msg != undefined
                        ) {
                            errorMensaje = error.response.data.msg;
                        }
                    }
                    alert(errorMensaje);
                    loader.hide();
                });
        }
    }
};
</script>
