<template>
    <div class="row">
        <h1 class="m-4">Ingreso de Movimientos</h1>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card m-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="rol"
                                            >Tipo de movimiento</label
                                        >
                                        <v-select
                                            v-model="selectedTipo"
                                            :value="tipo_movimiento"
                                            :options="movimientos"
                                            label="value"
                                            @input="setSelectedTipo"
                                        >
                                            <template slot="no-options">
                                                No se ha encontrado ningun dato
                                            </template>
                                        </v-select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label for="valor">Valor</label>
                                        <input
                                            type="number"
                                            :class="'form-control'"
                                            id="valor"
                                            v-model="movimiento"
                                        />
                                    </div>
                                </div>
                                <div class="form-inline">
                                    <button
                                        type="button"
                                        class="btn btn-success btn-block"
                                        @click="addMovimiento()"
                                    >
                                        Añadir movimiento
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <vue-good-table
                                        :columns="columns"
                                        :rows="form.movimientos"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div
                                    class="col-lg-12 col-md-12 col-sm-12 mt-4 pt-1"
                                >
                                    <div class="form-inline">
                                        <button
                                            type="button"
                                            class="btn btn-success btn-block"
                                            @click="guardarMovimientos()"
                                        >
                                            Guardar Movimiento
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: {},
    data: function() {
        return {
            columns: [
                {
                    label: "Tipo",
                    field: "tipo_movimiento",
                    type: "String"
                },
                {
                    label: "Valor",
                    field: "value",
                    type: "number"
                }
            ],
            form: {
                movimientos: []
            },
            movimientos: [
                {
                    value: "Tarjeta"
                },
                {
                    value: "Efectivo"
                },
                {
                    value: "Venta"
                }
            ],
            movimiento: 0,
            tipo_movimiento: "",
            selectedTipo: ""
        };
    },
    mounted: function() {
        this.tipo_movimiento = "Efectivo";
        this.selectedTipo = "Efectivo";
    },
    beforeDestroy: function() {},
    methods: {
        setSelectedTipo(value) {
            if (value !== null) {
                this.tipo_movimiento = value.value;
            } else {
                this.tipo_movimiento = "";
            }
        },
        addMovimiento() {
            if (
                this.tipo_movimiento == null ||
                this.tipo_movimiento == "" ||
                this.tipo_movimiento == undefined
            ) {
                alert("Debe seleccionar un tipo de movimiento");
                return;
            }
            if (this.movimiento == 0 || this.movimiento < 0) {
                alert("Debe Ingresar un movimeinto mayor a 0 ");
                return;
            }
            let movimiento = {
                tipo_movimiento: this.tipo_movimiento,
                value: parseInt(this.movimiento)
            };
            this.form.movimientos.push(movimiento);
        },
        guardarMovimientos() {
            let that = this;

            let url = "/api/v1/cashier/movimientos";
            let mensaje = "Movimientos guardados correctamente.";

            var loader = that.$loading.show();
            axios
                .post(url, that.form)
                .then(function(response) {
                    //Llamar metodo de parent para que actualice el grid.
                    loader.hide();
                    that.limpiarForm();

                    alert(mensaje);
                })
                .catch(error => {
                    //Errores de validación
                    var errorMensaje = error;
                    if (error.response.status === 422) {
                        if (
                            error.response.data.msg !== "" &&
                            error.response.data.msg != undefined
                        ) {
                            errorMensaje = error.response.data.msg;
                        }
                    }
                    alert(errorMensaje);
                    loader.hide();
                });
        },
        limpiarForm() {
            this.movimiento = 0;
            this.tipo_movimiento = "";
            this.selectedTipo = "";
            this.form.movimientos = [];
        }
    }
};
</script>
